.DS_Store
.env
.venv
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

admin.macaroon
tls.cert
googleapis
*.backup
.DS_Store
