<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>address</key>
	<string>192.168.0.10</string>
	<key>port</key>
	<string>9735</string>
	<key>nodeId</key>
	<string>029cba2eb9edf18352e90f1a5f71e367af80d6e3ab7a5aa6122309fcbcd4375735</string>
</dict>
</plist>
