<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>address</key>
	<string>45.33.22.210</string>
	<key>port</key>
	<string>9735</string>
	<key>peer</key>
	<string>03e347d089c071c27680e26299223e80a740cf3e3fc4b4237fa219bb67121a670b</string>
</dict>
</plist>
